<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Welcome to the message board. Here are a list of active topics</h1>

    <% if (locals.currentUser) { %>
    <a href="/create-topic">Create New Topic</a>
    <% } %> <% if (locals.currentUser && currentUser.is_member) { %>
    <div class="topic-card header">
      <span>Title</span><span>username</span><span>posted on</span
      ><span>replies</span>
    </div>
    <% } else { %>
    <div class="topic-card header">
      <span>Title</span><span>posted on</span><span>replies</span>
    </div>
    <% } %> <% if (locals.topicList) { %> <% topicList.forEach(topic => { %> <%
    if (locals.currentUser && currentUser.is_member) { %>

    <a class="topic-item" href="topic/:<%=topic.id%>">
      <div class="topic-card">
        <span class="topic-title"><%= topic.title%></span>
        <% if (topic.author) { %>
        <span><%= topic.author%></span>
        <% } else { %>
        <span>Deleted User</span>
        <% } %>
        <span><%= topic.created_at%></span>
        <span><%= topic.reply_count%></span>
      </div>
    </a>

    <% } else { %>
    <a class="topic-item" href="topic/:<%=topic.id%>">
      <div class="topic-card">
        <span class="topic-title"><%= topic.title%></span>
        <span><%= topic.created_at%></span>
        <span><%= topic.reply_count%></span>
      </div>
    </a>
    <% } %> <%}) %> <% } %>

    <p>this is the index page</p>
  </body>
</html>
