<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="topic-detail">
      <h1 class="topic-detail-title"><%= topic.tile %></h1>
      <p class="topic-detail-body"><%= topic.body %></p>
      <div class="topic-detail-meta">
        <span><%= topic.author %></span>
        <span><%= topic.created_at %></span>
        <% if (topic.updated_at) { %>
        <span>topic.updated_at</span>
        <%} %>
      </div>
    </div>
    <% if (locals.replies) { %> replies.forEach(reply => {
    <div>
      <p><%= reply.body %></p>

      <div class="reply-details">
        <span><%= reply.author%></span>
        <span><%= reply.created_at %></span>
        <% if (reply.updated_at) { %>

        <span><%= reply.created_at %></span>
        <% } %>
      </div>
    </div>
    <% }) %> <%} %>
  </body>
</html>
